@import '../../../styles/variable.scss';

.wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  strong {
    white-space: nowrap;
  }
  textarea {
    resize: vertical;
    border: none;
    outline: none;
    background-color: $main-surface-secondary;
    color: $main-color-text;
    border-radius: 2px;
  }
}
