@import '../../styles/variable.scss';

.paginationButtons {
  display: flex;
  align-items: center; // Центрируем кнопки по вертикали
  gap: 5px;
}

.pageButton {
  border: 1px solid $main-surface-primary;
  background-color: $main-surface-tertiary;
  cursor: pointer;
  border-radius: 5px;
  color: $main-color-text;
}

.arrowButton {
  background: none; // Убираем фоновый цвет
  border: none; // Убираем рамку
  cursor: pointer; // Указываем, что кнопка кликабельна
  padding: 0.2rem 0.1rem; // Отступы вокруг кнопки
  font-size: 1.5rem; // Размер шрифта для стрелок
  margin: 0 0.2rem; // Отступы между кнопками

  &:disabled {
    cursor: not-allowed; // Указываем, что кнопка недоступна
    opacity: 0.5; // Делаем кнопку полупрозрачной
  }
}

.activePage {
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  color: $main-color-text;
  background-color: $button-color-primary; // Цвет фона для активной страницы
}
.activePage {
  background-color: $button-color-hover;
}
