@import '../../../styles/variable.scss';

.nav {
  height: fit-content;
  border-radius: 1px;
  position: relative;
  min-width: unset;
  height: 40px;
  width: 40px;
}

.menu {
  margin-top: 50px;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0; // Высота кнопки "гамбургера"
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $headerfooter-surface-secondary;
  border-radius: 0;
  z-index: 10;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: 400px) {
    margin-top: 70px;
  }

  &.open {
    display: flex;
  }
}

.menuItem {
  margin-bottom: 10px; /* Отступы между пунктами меню */
}

.link {
  display: flex; /* Делаем ссылку блочным элементом */
  align-items: center;
  padding: 10px; /* Внутренние отступы для ссылок */
  text-decoration: none; /* Убираем подчеркивание текста */
  color: #ececec; /* Цвет текста */
  border-radius: 4px; /* Закругление углов */
  height: 30px;
  background-color: $sidebar-surface-primary;
}

.link:hover {
  background-color: $sidebar-surface-secondary;
}

.active a {
  background-color: $sidebar-surface-tertiary;
}

// Стили для кнопки "гамбургер"
.hamburger {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
  cursor: pointer;
  font-size: 24px;
  color: #ececec;
  background: none;
  border: none;
}
