@import '../../styles/variable.scss';

.container {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  background-color: $main-surface-primary;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  gap: 15px;
}

.photo {
  width: 100%;
  height: 100%;
  max-width: 200px;
  margin-bottom: 20px;
  object-fit: cover;
}

.grid {
  display: flex;
  gap: 20px; // Промежуток между колонками
  width: 100%; // Ширина грида
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info h2 {
  margin: 15px 0; // Установлено правильное значение отступа
  color: $highlighted-text; // Применен цвет из переменной
}

.info p {
  margin: 5px;
  overflow-wrap: break-word; /* Перенос слов при необходимости */
  white-space: pre-wrap; /* Сохранение пробелов и переносов строк */
  max-width: 100%;
}

.info h3 {
  margin-top: 18px;
  color: $highlighted-text; // Применен цвет из переменной
}

.infoLeft ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0; // Установлено правильное значение отступа

  li {
    color: $highlighted-text-error; // Применен цвет из переменной
    margin: 5px;
  }
}
.infoLeft {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  padding: 0;
  li {
    color: $highlighted-text-error; // Применен цвет из переменной
    margin: 5px;
    a {
      color: $highlighted-text; // Применен цвет из переменной
    }
  }
}
.infoBottom {
  width: 100%;
  margin-top: 30px;
}
.infoBottom p {
  margin: 5px;
  word-wrap: break-word;
}

.socialMedia {
  margin: 5px;
  margin-top: 10px;

  a {
    margin-right: 10px;
    color: $highlighted-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
